<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="d-flex justify-content-start">
        <img src="/assets/favicon-32x32.png" alt="Logo" width="24" height="24">
        <span class="fw-bold fs-5 mx-3">FUNFIA</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="succes">

<div class="container mt-4">
  <div class="row g-3 text-center">

    <!-- Nouveau Consultation -->
    <div class="col-6 col-md-6 col-lg-6">
      <div class="card p-3 shadow-sm h-100 border-start" [routerLink]="['/NewConsultation']">
        <ion-icon name="person-add-outline"  size="large"></ion-icon>
        <h5 class="mt-2">Nouveau Consultation</h5>
      </div>
    </div>

    <!-- Liste Consultation -->
    <div class="col-6 col-md-6 col-lg-6">
      <div class="card p-3 shadow-sm h-100" [routerLink]="['/listConsultation']">
        <ion-icon name="list-outline" size="large"></ion-icon>
        <h5 class="mt-2">Liste Consultation</h5>
      </div>
    </div>

    <!-- Ordonnance List -->
    <div class="col-6 col-md-6 col-lg-6">
      <div class="card p-3 shadow-sm h-100" [routerLink]="['/Ordonnance']">
        <ion-icon name="medkit-outline" size="large"></ion-icon>
        <h5 class="mt-2">Ordonnance List</h5>
      </div>
    </div>

    <!-- État de stock -->
    <div class="col-6 col-md-6 col-lg-6">
      <div class="card p-3 shadow-sm h-100" [routerLink]="['/Etat_stock']">
        <ion-icon name="cube-outline" size="large"></ion-icon>
        <h5 class="mt-2">État de stock</h5>
      </div>
    </div>

  </div>
</div>

</ion-content>
